html {
  text-align: center;
  font-family: Calibri;
}
.purple {
  background-color: darkorchid;
  color: white;
}
h1 {
  font-size: 60px;
  margin-bottom: 0px;
  font-family: Calibri;
}
h2 {
  font-size: 18px;
  padding-top: 30px;
}
p {
  font-size: 16px;
  text-align: left;
  text-indent: 30px; 
  margin: 0px 20px 0px;
}
li {
  display: inline-block;
  text-align: justify;
  font-size: 14px;
  margin-right: 5px;
  font-style: normal;
}
h3 {
   font-size: 18px;
   margin-top: 0px;
   font-style: italic;
}
figcaption {
 font-size: 16px;
 padding-bottom: 16px;
 font-style: italic;
}
body {
  background-color: ghostwhite
}
section {
  background-color: white;
  margin: 20px 250px 20px;
  font-weight: lighter; 
}
#caps {
  text-transform: uppercase;
}
img {
    max-width:100%;
    height:auto;
}
